{
    "presets": ["react", "env"],
    "plugins": [
        "react-hot-loader/babel",
        "babel-plugin-transform-class-properties",
        "babel-plugin-transform-object-rest-spread",
        "babel-plugin-transform-decorators-legacy"
    ]
}